<!DOCTYPE html>
<html>
<head>
	<title>OCAP</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{ url_for('static', filename='style/normalize.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style/leaflet-1.0.0-rc1.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="img/png">
</head>
<body>

<div id="container">
	<div id="map"></div>
	<div id="top-panel">
		<div id="ocap-logo-button" class="button"></div>
		<div id="load-op-button" class="button"></div>
		<div id="about-button" class="bold button">i</div>
		<span id="toggle-firelines-button" class="button"></span>
		<span id="mission-name" class="medium"></span>
	</div>
	<div id="left-panel">
		<div class="title">Units</div>
		<div class="filter-box">
			<button id="entity-list-toggle-ai-button">
				Toggle AI
			</button>
		</div>
		<div class="entity-list">
			<ul id="list-west"><span class="blufor side-title">BLUFOR</span></ul>
			<ul id="list-east"><span class="opfor side-title">OPFOR</span></ul>
			<ul id="list-ind"><span class="ind side-title">INDEPENDENT</span></ul>
			<ul id="list-civ"><span class="civ side-title">CIVILIAN</span></ul>
		</div>
	</div>
	<div id="right-panel">
		<div class="title">Events</div>
		<div class="filter-box">
			<div id="filter-hit-events-button"></div>
			<input type="text" id="filter-events-input" placeholder="Filter" />
		</div>
		<div id="event-list-container">
			<ul id="event-list"></ul>
		</div>
	</div>
	<div class="extra-info-box">
		<div class="extra-info-box-content">
			<span class="bold">Cursor target: </span><span id="cursor-target-box">None</span>
		</div>
	</div>
	<div id="bottom-panel">
		<div class="left">
			<i id="play-pause-button" class="material-icons paused"></i>
			<div id="timecode-container" class="medium">
				<span id="mission-cur-time">0:00:00</span>
				<span>/</span>
				<span id="mission-end-time">0:00:00</span>
			</div>
		</div>
		<div id="frame-slider-container" class="middle">
			<input type="range" id="frame-slider" min="0" value="0">
				<div id="event-timeline"></div>
			</input>
		</div>
		<div class="right">
			<div id="playback-speed-slider-container">
				<span id="playback-speed-val"></span>
				<input type="range" id="playback-speed-slider" />
			</div>
			<i id="share-link" data-share-link="" class="material-icons"></i>
			<i id="fullscreen-button" class="material-icons"></i>
		</div>
	</div>
</div>

<div id="modal-container">
	<div id="modal">
		<div id="modal-header" class="medium">&nbsp;</div>
		<div id="modal-body"></div>
		<div id="modal-buttons"></div>
	</div>
</div>

<div id="hint"></div>

<script src="{{ url_for('static', filename='scripts/leaflet-1.0.0-rc1.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/leaflet.rotatedMarker.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/leaflet.svgIcon.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/ocap.js') }}"></script>
</body>
</html>
